<div class="userplan">
    <h4>Share the link with your friends to join the plan, then manage their access below.</h4>

    <p>
        <input class="form-control" type="text" value="https://backpackererapp.web.app/joinplan/{{plan.id}}"
            [(ngModel)]="copycode">
        <button mat-flat-button color="primary" (click)="copyText()">Copy</button>
    </p>


    <hr />

    <h4>Add User Manually to the Plan</h4>
    <div class="nb-3">
        <input type="text" class="form-control" name="username" [(ngModel)]="model.username" placeholder="Username">
    </div>
    <button mat-flat-button color="primary" (click)="AddUser()">Add User</button>

    <hr />

    <div>
        <h4>Current User List</h4>
        <div *ngFor="let u of userList" class="row">
            <div class="col-10">            
            <h3>{{u.userName}}  <b *ngIf="u.isadmin">(Admin)</b>   </h3>
            </div>
            <div class="col-2">
                <button mat-flat-button color="warn" (click)="removeUser(u)" >Delete</button>
            </div>
        </div>
    </div>
</div>