
<div class="map-container">
  <div [hidden]="isFullScreen">
    <!-- <h1> Map </h1> -->
    <mat-button-toggle-group [(ngModel)]="allMarker" name="MarkerOption" aria-label="Marker Options" >
      <mat-button-toggle value="all">All Cities</mat-button-toggle>
      <mat-button-toggle value="prev">Previous Cities</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <button class="map-fullscreen-btn" (click)="toggleFullScreen()">
  {{ isFullScreen ? 'Exit Full Screen' : 'Full Screen' }}
</button>
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>

  
