################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Api/TravelPlannerAppContext-b92c459d-4a09-42f2-83af-48841da9d3f1.db
website/src/environments/
website/src/environments/environment.ts
website/src/environments/environment.development.ts
/Api/TravelPlannerAppContext-b92c459d-4a09-42f2-83af-48841da9d3f1_test.db
/Api/TravelPlannerAppContext-b92c459d-4a09-42f2-83af-48841da9d3f1.db-shm
/Api/TravelPlannerAppContext-b92c459d-4a09-42f2-83af-48841da9d3f1.db-wal
/Api/.vs
/Api/bin
/Api/obj
Api/appsettings.Development.json
Api/appsettings.json
