/* You can add global styles to this file, and also import other style files */
.plan-item{
    background-color: #7a7af4;
    border: 2px solid black;
    border-radius: 5px;
}

.country-item{
    background-color: #7af496;
    border: 2px solid black;
    border-radius: 5px;
}

.city-item{
    background-color: #f47ab3;
    border: 2px solid black;
    border-radius: 5px;
}

.todo-item{
    background-color: #d6f47a;
    border: 2px solid black;
    border-radius: 5px;
}