<div class="plan-item" *ngIf="plan"  cdkDropListGroup>
    <mat-tab-group preserveContent>
        <mat-tab label="Plan">
            <div class="row">
                <div class="col-9 plan-header">
                    <h4>{{plan?.planName}}</h4>
                    <h4>Join Code: {{plan?.joinCode}}</h4>                    
                </div>

                <div class="col-3">
                     <!-- [matMenuTriggerFor]="menu"
                     (click)="toggleNav()" -->
                    <button mat-mini-fab color="primary"  [matMenuTriggerFor]="menu" *ngIf="(data.isAdmin$| async)">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                   
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openCountryDialog()">Add Country</button>
                        <button mat-menu-item (click)="openTravelDialog()">Add Travel</button>
                        <button mat-menu-item (click)="openMapDialog()">View Map</button>
                        <!-- <button mat-menu-item (click)="exitPlan()">Exit Plan</button>
                        <button mat-menu-item (click)="logout()">Logout</button> -->
                    </mat-menu>
                </div>

                <ng-container *ngIf="plan.countries.length > 0 && checkToday(plan.countries[0].startDate)">
                    <app-countdown-timer class="container" [start]="plan.countries[0].startDate"></app-countdown-timer>
                </ng-container>
            </div>
            <div *ngFor="let country of plan?.countries">
                <app-country [country]="country"></app-country>
            </div>
            <div *ngIf="plan.countries.length == 0 && data.isAdmin$| async"  >
                <p>Click here to add your first country</p>
                <button mat-flat-button color="primary" (click)="openCountryDialog()">Add Country</button>
            </div>
        </mat-tab>

        
        <mat-tab *ngIf="(data.isAdmin$| async)" label="Users">
            <ng-template matTabContent>
                <app-user-management></app-user-management>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
