<div class="row">

    <div *ngIf="!(accountService.currentUser$| async)">
      <h2 class="text-center text-primary">Sign Up</h2>
      <div class="nb-3">
        <input type="text" class="form-control" name="username" [(ngModel)]="modelUser.username" placeholder="Username">
      </div>
      <div class="nb-3">
        <input type="password" class="form-control" name="password" [(ngModel)]="modelUser.password" placeholder="Password">
      </div>
      <div class="text-center">
        <button class="btn btn-primary me-2" type="submit" (click)="login()">Login</button>
        <button class="btn btn-primary me-2" type="submit" (click)="register()">Register</button>
      </div>
    </div>

    <div *ngIf="!plan && (accountService.currentUser$| async)">
      <h2>Add Plan</h2>
      <div class="nb-3">
        <input type="text" class="form-control" name="name" [(ngModel)]="modelPlan.name" placeholder="Plan Name">
      </div>
      <div *ngFor="let p of planList">
        <h1 (click)="loadPlan(p.id)">{{p.planName}}</h1>
      </div>
    </div>


  <ng-container *ngIf="plan">
    <div class="col-12">
      <app-plan [plan]="plan"></app-plan>
    </div>
  </ng-container>

</div>