.citydroplist{
    padding: 20%;
}

.accountData{
  align-items: center;
  justify-content: center;
  padding:20%;
}

.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  .plan-list-item{
    border: 2px solid black;
    border-radius: 5px;
    background-color: aliceblue;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 2% 0 2% 0;
  }