<h2 mat-dialog-title>Edit City</h2>
<mat-dialog-content>

  <mat-tab-group>
    <mat-tab label="Info"> 
      <p>Info about {{data.name}}</p>
      <p>id: {{data.id}}</p>

    @for (poi of poi.data; track poi) {
      <div class="poi-item">
        <h5>{{poi.name}}</h5>
        <p>{{poi.category}}</p>
    </div>
    }
   
    </mat-tab>
    <mat-tab label="Update"> 
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="data.name" placeholder="{{data.name}}">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date Entering the Country</mat-label>
      <input matInput [(ngModel)]="data.startDate" [matDatepicker]="picker">
        <!-- <mat-date-range-input [rangePicker]="picker">
            <input matStartDate [(ngModel)]="data.startDate" placeholder="Start date">
            <input matEndDate [(ngModel)]="data.endDate" placeholder="End date">
        </mat-date-range-input> -->
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Select Country</mat-label>
        <mat-select [(ngModel)]="data.countryId" name="country">
          @for (country of plan.countries; track country) {
            <mat-option [value]="country.id">{{country.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-tab>
  </mat-tab-group>


</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button (click)="deleteCity()">Delete</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Update</button>
</mat-dialog-actions>