<h2 mat-dialog-title>Edit City</h2>
<mat-dialog-content>

  <div class="row">
    <mat-form-field class="col-12">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="data.name" placeholder="{{data.name}}">
    </mat-form-field>

    <mat-form-field class="col-12">
      <mat-label>Date Entering the City</mat-label>
      <input matInput [(ngModel)]="data.startDate" [matDatepicker]="picker">
        <!-- <mat-date-range-input [rangePicker]="picker">
            <input matStartDate [(ngModel)]="data.startDate" placeholder="Start date">
            <input matEndDate [(ngModel)]="data.endDate" placeholder="End date">
        </mat-date-range-input> -->
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col-12">
        <mat-label>Select Country</mat-label>
        <mat-select [(ngModel)]="data.countryId" name="country">
          @for (country of plan.countries; track country) {
            <mat-option [value]="country.id">{{country.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
</div>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button (click)="deleteCity()">Delete</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Update</button>
</mat-dialog-actions>