<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Backpackerer</a>
    <ul class="navbar-nav me-auto mb-2 mb-md-0 mobile-remove">
      <ng-container *ngIf="accountService.currentUser$| async">
          <!-- navlinks -->
      </ng-container>
    </ul>


    <div class="dropdown" *ngIf="(accountService.currentUser$| async) as user" dropdown>
      <a [matMenuTriggerFor]="menu" class="userlink">
        <p>Welcome <i>{{user.username.charAt(0).toUpperCase()+user.username.slice(1)}}</i><i
            class="fa fa-chevron-down pull-right"></i></p>
      </a>
      <mat-menu #menu="matMenu" class="navddmanu" [overlapTrigger]="false" yPosition="below">
        <button mat-menu-item (click)="editUser(user.username)">Edit User</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>

  </div>
</nav>