.accord-icon-closed .fa-chevron-down{
     transition: .3s transform ease-in-out;  
    transform: rotate(90deg);    
  }


  .fa-chevron-down{    
    /* margin: auto; */
margin-top: 25%;
margin-bottom: 25%;
    transform: rotate(90deg); 
     transition: .3s transform ease-in-out; 
  }


.accord-icon-open .fa-chevron-down{
    transform: rotate(0deg);
  }

  .country-info{
    display: inline;
  }

  /* .country-item {
    border: 2px solid black;
    border-radius: 5px;
    margin: 2% 5%;
    padding: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
} */

/* .country-accordion-item-header {
    background-color: #A4B8E5;
}

.country-accordion-item-body {
    background-color: #A4B8E5;
} */
