<div class="country-item">
    <div class="row">
        <div class="col-4">
            <p (click)="openInfoDialog()"><b>{{country?.name}} </b>
            <img width="10%" height="10%" src="{{countryinfo?.flags.png}}" /></p>           
        </div>
        <div class="col-5">
            <p>{{getDate(country?.startDate)}} => {{getDate(country?.endDate)}}</p>
        </div>

        <div class="col-3">
            <button mat-raised-button (click)="openDialog()">Add City</button>
        </div>
    </div>
    <div>
        <div *ngFor="let city of country?.cities">
            <app-city [city]="city"></app-city>
        </div>
    </div>
</div>