<h2 mat-dialog-title>Add Travel</h2>
<mat-dialog-content>
    <p></p>

    <mat-form-field>
        <mat-label>Select From City</mat-label>
        <mat-select [(ngModel)]="travel.fromCity" name="fromCity">
            @for (country of data.plan.countries; track country) {
            @for (city of country.cities; track city) {
            <mat-option [value]="city.id">{{city.name}}</mat-option>
            }
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Select To City</mat-label>
        <mat-select [(ngModel)]="travel.toCity" name="toCity">
            @for (country of data.plan.countries; track country) {
            @for (city of country.cities; track city) {
            <mat-option [value]="city.id">{{city.name}}</mat-option>
            }
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Select Travel Type</mat-label>
        <mat-select [(ngModel)]="travel.travelType" name="travelType">
            <mat-option [value]="0">Flight</mat-option>
            <mat-option [value]="1">Bus</mat-option>
            <mat-option [value]="2">Train</mat-option>
            <mat-option [value]="3">Boat</mat-option>
            <mat-option [value]="4">Scooter</mat-option>
            <mat-option [value]="5">Walk</mat-option>
            <mat-option [value]="6">Taxi</mat-option>
        </mat-select>
    </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="travel" cdkFocusInitial>Ok</button>
</mat-dialog-actions>