<div class="city-item" >  
  <div class="row">
    <div class="col-8">
      <p>{{city?.name}}</p>
    </div>
    <div class="col-4">
      <button mat-raised-button (click)="openDialog()">Add To-Do</button>
    </div>
  </div>
  <div cdkDropList [cdkDropListData]="city?.toDos" (cdkDropListDropped)="drop($event)" class="citydroplist">
    @for (todo of city?.toDos; track todo) {
    <app-todo cdkDrag [cdkDragData]="todo" [todo]="todo"></app-todo>
    }
  </div>
</div>


<!-- cdkDropList [cdkDropListData]="city?.toDos" class="example-list" (cdkDropListDropped)="drop($event)" -->