<div class="city-item" cdkDrag [cdkDragData]="city" [cdkDragStartDelay]="500">
  <div class="row">
    <div class="col-8">
      <p (click)="openInfoDialog()">{{city?.name}}</p>
    </div>
    <div class="col-4">
      <button mat-mini-fab color="primary" (click)="openDialog()"
                            aria-label="Add ToDo Item">
                            <mat-icon>add</mat-icon>
                        </button>
    </div>
    <!-- <div class="col-4">
      <button mat-raised-button (click)="openDialog()">Add To-Do</button>
    </div> -->
  </div>
  <!-- <div cdkDropList [cdkDropListData]="city?.toDos" (cdkDropListDropped)="drop($event)" class="citydroplist">
    @for (todo of city?.toDos; track todo) {
    <app-todo cdkDrag [cdkDragData]="todo" [todo]="todo"></app-todo>
    }
  </div> -->

  <div >
    @for (todo of city?.toDos; track todo) {
    <app-todo  [todo]="todo"></app-todo>
    }
  </div>
</div>

<div *ngIf="travel" class="travel-item">
  <div class="row">
    <div class="col-12">

      @switch (travel.travelType) {
      @case (0) {
      <app-flight-animation></app-flight-animation>
      }
      @case (1) {
      <app-bus-animation></app-bus-animation>
      }
      @case (2) {
      <app-train-animation></app-train-animation>
      }
      @case (3) {
      <!-- <app-train-animation></app-train-animation>                 -->
      }
      @case (4) {
      <app-scooter-animation></app-scooter-animation>
      }
      @case (5) {
      <app-walk-animation></app-walk-animation>
      }
      @case (6) {
      <!-- <app-train-animation></app-train-animation>                 -->
      }
      }
      <!-- <p>{{enum[travel.travelType]}}</p>
      <p>{{travel.fromCity.name}} ===> {{travel.toCity.name}}</p> -->
    </div>
  </div>
</div>


<!-- cdkDropList [cdkDropListData]="city?.toDos" class="example-list" (cdkDropListDropped)="drop($event)" -->